@font-face {
  font-family: "iconfont"; /* Project id 3800373 */
  /* Color fonts */
  src: 
       url('./iconfont.woff2?t=1725348497311') format('woff2'),
       url('./iconfont.woff?t=1725348497311') format('woff'),
       url('./iconfont.ttf?t=1725348497311') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lishi1:before {
  content: "\ec50";
}

.icon-lishijilu:before {
  content: "\e69d";
}

.icon-gengduofenlei:before {
  content: "\e66e";
}

.icon-fenlei1:before {
  content: "\e66d";
}

.icon-rili:before {
  content: "\f83d";
}

.icon-jinrongicon_pinglun:before {
  content: "\e61f";
}

.icon-tuding:before {
  content: "\e635";
}

.icon-lishi:before {
  content: "\ecab";
}

.icon-biaoqian1:before {
  content: "\fd9b";
}

.icon-shequpinglun:before {
  content: "\ffc2";
}

.icon-fenlei:before {
  content: "\100a7";
}

.icon-search:before {
  content: "\e6ca";
}

.icon-duoyun:before {
  content: "\e62b";
}

.icon-tupian:before {
  content: "\f7fa";
}

.icon-wenjianjia:before {
  content: "\e607";
}

.icon-guangbo:before {
  content: "\e611";
}

.icon-youxian:before {
  content: "\e612";
}

.icon-deyi:before {
  content: "\e619";
}

.icon-ku:before {
  content: "\e61a";
}

.icon-daku:before {
  content: "\e61b";
}

.icon-gongxifacai:before {
  content: "\e61c";
}

.icon-xiaoer:before {
  content: "\e61e";
}

.icon-jiaoshu:before {
  content: "\e625";
}

.icon-sikao:before {
  content: "\e62a";
}

.icon-chengzi:before {
  content: "\e7ae";
}

.icon--cool:before {
  content: "\e6e9";
}

.icon--cry:before {
  content: "\e6ea";
}

.icon--kiss-:before {
  content: "\e6ee";
}

.icon--thinking:before {
  content: "\e6f5";
}

.icon-dianying:before {
  content: "\e710";
}

.icon-LINKBUILDING:before {
  content: "\e8fa";
}

.icon-maillist:before {
  content: "\e629";
}

.icon-music:before {
  content: "\e698";
}

.icon-liuyanzhi:before {
  content: "\e61d";
}

.icon-home:before {
  content: "\e6f7";
}

.icon-a-baoxiangpixel_huaban1:before {
  content: "\e606";
}

.icon-biaoqian:before {
  content: "\e78b";
}

.icon-weibo:before {
  content: "\e60a";
}

.icon-gmail:before {
  content: "\e60b";
}

.icon-wechat:before {
  content: "\e60c";
}

.icon-baidu:before {
  content: "\e60d";
}

.icon-qq:before {
  content: "\e614";
}

.icon-github:before {
  content: "\e615";
}

.icon-book-2:before {
  content: "\e617";
}

.icon-zhihu:before {
  content: "\e618";
}

.icon-kafei:before {
  content: "\f33a";
}

.icon-naipin:before {
  content: "\f33e";
}

.icon-shutiao:before {
  content: "\f341";
}

.icon-shuiguo:before {
  content: "\f342";
}

.icon-yaopin:before {
  content: "\f344";
}

.icon-yinliao:before {
  content: "\f345";
}

.icon-zhushi:before {
  content: "\f348";
}

.icon-denglong:before {
  content: "\1008b";
}

.icon-zhongguojie:before {
  content: "\10096";
}

.icon-jiaocheng:before {
  content: "\100a2";
}

.icon-chonglang:before {
  content: "\e6bf";
}

.icon-qingtian:before {
  content: "\e6c0";
}

.icon-zhaopian:before {
  content: "\e6c1";
}

.icon-zihangche:before {
  content: "\e6c3";
}

